$battleship-grey: rgba(108, 110, 126, 1);
$steel: rgba(123, 126, 143, 1);
$charcoal-grey: rgba(75, 75, 77, 1);
$silver: rgba(189, 191, 199, 1);
$disabled-btn: rgba(243,243,243, 1);
$antricide: rgba(15, 15, 18, 1);
$silver-lite: rgba(222, 223, 227, 1);
$pale-grey: rgba(239, 239, 241, 1);
$pale-grey-lite: rgba(247, 247, 248, 1);
$arthena-blue: rgba(80, 125, 250, 1);
$darker-blue: rgba(70, 109, 219, 1);
$error: rgba(231, 76, 60, 1);
$success: rgba(231, 76, 60, 1);
$cool-grey: rgba(156, 158, 172, 1);
$white: #fdfdfd;
$grey-blue: #f1f5ff;
$disabled: #cecfd5;
$hover: #f5f5f5;
$green-success: #05e100;